@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Indie+Flower&family=Montserrat:wght@300&display=swap');

body{ 
    background-color: #e6eee8;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

}
h2 {
    margin: 0;
}

#content{max-width: 1600px;
         margin:0 auto;   
}
header{
     background-color :#424542;
     
}
#hero-img{
    width : 100%;
}
#logo_link{

    padding-top: 5px;
}
.logo{
    width:80px;
}
nav a{
    text-align: center;
    color:#fbfbfb;
    text-decoration: none;
    padding: 35px;

}
nav a:hover{
    background-color:#6dbfb8;/*a8f4b5*/
    color : #090101;

}

#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.home-title {
    color:#396E94;
    font-family: 'Courgette','Arial', 'sans-serif';
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color : #37393a;
 
}
.book,.join{
    background-color:#6dbfb8;
    color : #090101;
    text-decoration : none;
    font-size:18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;


}
main section img {
    box-sizing: border-box;

}
.rivers-card{
    margin: 200px 0;
}
.camping-card{
    margin: 200px 0;
  }

.rapids-card{
    margin: 200px 0;

 } 
 .card-img{
    border: 10px solid #0d0d0d; 
}

.book:hover {
    color : #06065c;
    
}
.join:hover{
    color : #06065c;
}


.button-box{
    text-align: center;
}
.icon{
    width:80px;
    padding-top: 10px;

}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color:#bf7f4a16;
    
}
.msg{
    
    background-color :#50585c;
    line-height: 1.5em;
    padding: 35px;
     
}
.msg h2{
     color:#f2f6f9;
     font-family: 'Courgette', 'Arial ','sans-serif' ;
    }
.msg p{
    color :#fcfdfd;
    font-size: .8em;
    padding-bottom: 15px;
    
}
footer{
    background-color :#424445;
    padding: 25px 50px;
    margin-top: 200px;

}

footer p {
    font-size: 1.2em;
} 

footer h3{
    color:#6d777e;

}
footer p{
    color :#fcfdfd;   

}
footer a{
    color :#fcfdfd;   
    text-decoration : none;
}
footer a:hover{
    color : #ff9f1c;

}
footer .social img{
    padding-top: 15px;

}
footer p a:hover {
    text-decoration: underline;
} 