@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Courgette&family=Indie+Flower&family=Montserrat:wght@300&family=Poppins&family=Ramabhadra&family=Roboto:wght@300;900&family=Rubik+Mono+One&display=swap');
header{
    display:grid;
    grid-template-columns: 90px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
/*.header-button{
    padding:0.6em 2em;
    color:rgb(5, 3, 3);
    font-size:0.9em;
    border:dashed;
    border-color: #690e0f;
    cursor:pointer;
    background-color: rgba(128, 128, 128, 0);
}*/

.header-button:hover{
    background-color:#386641;
    color:white;
    
}
body{
    font-family: Helvetica, Arial, sans-serif;  
    margin: 0;
    padding: 0; 
}
nav{
    grid-column:4/9;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content:space-around;
    
}

nav a{
    text-align: center;
    color:#060606;
    text-decoration: none;
    border:solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #690e0f;
    padding:5px 3px 3px 5px;
    
    /*padding: 35px;*/

}
nav a:hover{
    
    color :#fdfffe;
    background-color:green;
    

}

#content{max-width: 1600px;
    margin:0 auto;  
    overflow: hidden; 
}
#logo_link{

    justify-self: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;

    
}
.logo{
    width:100%;
}
#hero-img{
    width : 100%;
}
#hero{
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column:1/6;
    grid-row: 1/6;
    z-index: -1;
}
#hero-msg{
    grid-column:4/6;
    grid-row:2/4 ;
}
.home-title{
    font-size: 70px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;   
    letter-spacing: 3px;
}
.home-fast{
    font-family:'Rubik Mono One', Times, serif, Helvetica, sans-serif;
    font-size:90px;
    font-style: italic;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: 20px;
}

#hero-msg h3{
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 230px;
    font-size: 12px;
    color:#fcf9f9;
    letter-spacing: 3px;
    

}
/*Start sign-up-today*/
main section img {
    box-sizing: border-box;

}
.sign-up-grid{
    display:grid;
    grid-template-columns: repeat(16,1fr);
    /*background-color: #690e0f;*/
    justify-items: center;
    align-items: center;
    
   
}
.sup{
    grid-column:1/3;
    grid-row: 1/2;
    font-size: 20px;
    background-color:white;
    color: #690e0f;
}
.cable-card{
    margin: 50px 0;
    grid-column:2/4;
    display: grid;
    justify-items: center;
   
}
.fiber-card{
    margin: 50px 0;
    grid-column:5/7;
    display: grid;
    justify-items: center;
}
.wireless-card{
    margin: 50px 0;
    grid-column:8/10;
    display: grid;
    justify-items: center;
}
.vod-card{
    margin: 50px 0;
    grid-column:11/13;
    display: grid;
    justify-items: center;

}
.bundle-card{
    margin: 50px 0;
    grid-column:14/16;
    display: grid;
    justify-items: center;

    }

.card-img{
        width: 100%;
        border: 10px solid #0d0d0d; 
        transition: transform .5s;
        box-shadow: 5px 5px 10px #6f7364;
    }
    
      

.sign-up-grid section h2{
    color:#690e0f;
    padding-top: 15px;
}    
 

.icon{
    width: 60%;
    border: 10px solid #0d0d0d00; 
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.icon:hover{
    opacity: .7;
    transform: scale(1.4);
}

/*----------------------------More great reason to choose Chajabal*/
h3{
    font-size: 20px;
    color:#386641;
    font-weight: bolder;
}
.advertisement-site-container{
    /*margin:2rem auto;*/
    display:grid;
    grid-template-columns:1fr;
    grid-row: 1/3;
    
    

}
.advertisement-articles-container{
    grid-row: 2/3;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    /*grid-template-columns:repeat(auto-fill,minmax(256px,1fr));*/
    gap: 2rem;
}

.advertisement-image{
    margin:0;
    padding:0;
    overflow:hidden;
}
.advertisement-card{
    background-color:#eee8e8;
    /*border-radius: 20px;*/
    transition:0.3s;

}
    

.advertisement-articles-container article figure img{
width: 100%;  
height: auto;
/*border-radius: 20px 20px 0 0; */
}
.advertisement-card:hover{
    box-shadow: 0 40px 20px 0 rgba(34,68,123,0.2);
    cursor: pointer;
}
.advertisement-content{
    padding:2rem;
}
.advertisement-content .advertisement-category{
    font-size:0.875rem;
    text-transform: uppercase;
    letter-spacing:0.1rem;
    font-weight: 600;
    color:#1357c4;
    display: block;
    text-decoration: none;
}
.advertisement-content .advertisement-card-title{
      margin:1rem 0;
      color:#22447b;
}
.advertisement-content .advertisement-card-excerpt{
    font-size:1rem;
    line-height:1.5rem;
    color:#0606f4;
    margin:0;


}
/*-------------------why choose us container--------------------------------*/

.whychooseus-container{
    display:grid;
    grid-template-columns: repeat(17,1fr);
    justify-items: center;
    align-items: center;
    background-color:#690e0f;
    

    
}

.whyus {
    grid-column:7/12;
    grid-row: 1/2;
    font-size: 20px;
    color:#386641;
    font-weight: bolder;
}
.whychooseus-card1{
    margin: 50px 0;

    grid-column:2/5;
    display: grid;
    justify-items: center;
    
    

}


.whychooseus-card2{
    margin: 50px 0;
    grid-column:6/9;
    display: grid;
    justify-items: center;
}
.whychooseus-card3{
    margin: 50px 0;
    grid-column:10/13;
    display: grid;
    justify-items: center;
}
.whychooseus-card4{
    margin: 50px 0;
    grid-column:14/17;
    display: grid;
    justify-items: center;
  

}


.icon-whyus{
    width: 25%;
}
.whychooseus-card-excerpt{
    font-size:1rem;
    color:white;
    align-self: center;
    
}















footer{
    background-color :#404040;
    padding: 25px 50px;
    margin-top: 5px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:white;

}
#logo_link2{

    padding-top: 5px;
    justify-self: center;
    align-items: center;
    padding-top: 45px;

    
}
footer .footer-logo-copy, footer .footer-quick-links li a {
    color:white;
}

footer .footer-quick-links li a:hover {
    color:rgb(235, 205, 10);

}

footer .footer-logo-copy, footer .footer-quick-links li  {
    color:white;
    list-style-type:none;
}
